*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: rgb(255, 255, 240);
}

/* nav bar */
header {
    width: 100%;
    height: 90px;
    padding: 0 25%;
    border-bottom: 1px solid gray;
    background-color: white;
}

header * {
    height: 100%;
    width: 100%;
}

header .menu {
    width: 100%;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
}

header li a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
}

/*hero section*/
.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.hero-text {
    padding: 0 0 0 5rem;
}

.hero_section img {
    width: 600px;
    border-radius: 5rem;
}

.hero-text h1 {
    font-size: 4rem;
    line-height: 0.9;
    padding-bottom: 16px;
}

.hero-text p {
    font-size: 1.2rem;
}

.hero-container a {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 16px 0;
    display: inline-block;
    width: auto;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

/* features section */
.features-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px 0;
    background-color: white;
}

.feat_container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feat_container img {
    width: 50px;
}

.feat_container h2 {
    font-size: 2rem;
}

.feat_container h2 {
    margin: 24px 0;
}

.feats-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 250px;
    width: 100%;
}

.feats-cards article {
    width: 300px;
    height: 100%;
    padding: 16px;
    border-radius: 13px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feats-cards h3 {
    font-size: 1.5rem;
}

/*testimonials section*/
.testimonials {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 50px 0;
}

.testimonials_container {
    width: 1200px;
}

.testimonials_container h2 {
    margin-bottom: 16px;
}

.testimonials_container .testimonials_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.testimonials_cards article {
    width: 200px;
    margin: 16px;
    padding: 16px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.2s,
        box-shadow 0.3s;
}

.testimonials_cards article p {
    font-style: italic;
}

.testimonials_cards article:hover {
    transform: scale(1.1);
    transform: translateY(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*call to action section*/
.call_to_action {
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.cta_container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta_container h3 {
    font-weight: 500;
    margin: 24px;
}

.cta_container a {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 16px 0;
    display: inline-block;
    width: auto;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 12px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

/* pricing section*/

.pricing_section {
    display: flex;
    padding: 32px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pricing_container {
    width: 1200px;
}

.pricing_container .pricing_cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.pricing_container h2 {
    margin-bottom: 16px;
}

.pricing_cards .price_card {
    width: 350px;
    padding: 16px;
    margin: 16px;
        padding: 16px;
    background: white;
    border-radius: 18px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.price_card ul {
    list-style: none;
}

/* footer section */
footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

footer {
    font-size: 1.2rem;
}
